@import "_variables.scss";
/*
==========================
GRID
==========================
*/

.individual-project-container {
  margin: 0 auto;
  color: $dark-grey;
}

/*
==========================
IMAGE
==========================
*/

.project-image {
  width: 900px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0px 15px 15px $light-grey;
  display: block;
}

.project-image-padding {
  margin-top: 80px;
}

/*
==========================
MAIN INFO
==========================
*/

.project-page-title {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.project-page-description {
  width: 450px;
  text-align: left;
  font-size: 18px;
  margin: 0 auto;
}

.project-page-tech {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 20px;
}

/*
==========================
FEATURE
==========================
*/

.hline {
  width: 1080px;
  border-top: 1px solid $light-grey;
  margin-top: -2px;
}

.project-page-feature {
  background: linear-gradient(white, $pale-grey);
  padding: 50px;
}

.project-page-feature-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.project-page-feature-description {
  width: 450px;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
}

.project-page-feature--video {
  margin: 30px auto;
  display: block;
  width: 900px;
  height: 600px;
}

/*
==========================
WORK
==========================
*/

.project-page-work {
  display: block;
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

.project-page-work--title {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  color: $light-blue;
  margin-top: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.role-container {
  display: block;
  margin-bottom: 10px;
}

.role {
  display: grid;
  grid-template-columns: 1fr 12fr;
  justify-items: start;
  grid-gap: 10px;
  margin-bottom: 15px;
}

.role-dot {
  justify-self: center;
  color: $light-blue;
  margin-top: 5px;
  margin-right: 10px;
}

.role-text {
  font-size: 18px;
  text-align: left;
}

/*
==========================
BUTTON
==========================
*/

.project-page-btns {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.main-navi-btn {
  display: inline-block;
  width: 150px;
  color: white;
  background-color: $theme-blue;
  padding: 6px 15px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 10px $light-grey;
}

.main-navi-btn:hover {
  background-color: $hover-blue;
}

/*
==========================
MEDIA QUERY
==========================
*/

@media all and (max-width: 1079px) and (min-width: 0px) {
  .project-image {
    width: 80vw;
  }
  .project-page-description {
    width: 450px;
  }
  .project-page-feature--video {
    width: 80vw;
    height: auto;
    min-height: 400px;
  }
}

@media (max-width: 650px) and (min-width: 0px) {
  .project-image {
    width: 90vw;
  }
  .project-page-feature--video {
    width: 90vw;
    min-height: 300px;
  }
  .project-page-title {
    font-size: 35px;
    font-weight: 600;
  }
  .role {
    width: 90vw;
  }
  .project-page-description,
  .project-page-work,
  .project-page-feature-description,
  .role-text {
    width: 90vw;
    font-size: 16px;
  }

  .role-text {
    width: auto;
  }
  // .role-container {
  //     margin: 0 auto;
  //     margin-top: 10px;
  //     margin-bottom: 10px;
  // }
  .project-page-tech {
    width: 90vw;
  }
  .project-page-feature {
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 30px;
  }
  .project-page-feature-title {
    margin: 0 auto;
    max-width: 90vw;
    // margin-bottom: 10px;
    font-size: 24px;
  }
  .project-page-feature-description {
    margin: 0 auto;
    margin-bottom: -20px;
  }
}
