@import '../_variables.scss';

/*
==========================
GRID
==========================
*/
.header-container-all {
    position: fixed;
    top: 0px;
    z-index: 10;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.939);
}
.header-container {
    width: 100%;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "logo logo logo . about project resume";
    height: 30px;
    margin: 0 auto; 
    justify-items: center;
}

.header-border {
    position: relative;
    top: 10px;
    border-top: 1px solid $pale-grey;
}

.nav-projects {
    grid-area: project;
}

.nav-about {
    grid-area: about;
}

.nav-resume {
    grid-area: resume;
}
/*
==========================
LINKS
==========================
*/
.logo, .navigation {
    color: $grey;
    font-size: 12px;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    justify-self: start;
    grid-area: logo;
    letter-spacing: 2px;
    font-weight: 600;
}

.logo:hover, .navigation:hover {
    color: $dark-grey;
}

.navigation {
    font-size: 10px;
}

.nav-projects, .nav-about {
    text-align: right;
}

/*
==========================
MEDIA QUERY
==========================
*/

@media all and (max-width: 1079px) and (min-width: 0px) {
    .header-container {
        padding: 0px 20px;
    }
}