/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
.landing-container {
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden; }

.landing-shapes {
  height: 100vh; }

/*
==========================
TEXT
==========================
*/
.landing-text {
  position: absolute;
  top: 55vh;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  left: calc(50% - 275px);
  color: #757575; }

.landing-name {
  font-size: 40px;
  padding-bottom: 20px; }

.landing-description {
  font-size: 18px;
  width: 550px; }

/*
==========================
BUTTON
==========================
*/
.btn-navi {
  text-align: center;
  color: white;
  background-color: #3681d1;
  top: 30px;
  padding: 10px 50px;
  border-radius: 20px;
  position: relative;
  text-decoration: none; }

/*
==========================
COLORS
==========================
*/
.pink {
  background-color: #F6E4E4;
  margin-top: 120px;
  margin-left: -5vw; }

.yellow {
  background-color: #F6F1E4;
  right: 0px;
  top: 600px; }

.blue {
  background-color: #E4F4F6;
  top: 680px;
  left: 25vw; }

.green {
  background-color: #EAF6E4;
  right: 10vw;
  top: 150px; }

.purple {
  right: 30vw;
  top: 400px; }

/*
==========================
SHAPES
==========================
*/
.diamond-large, .diamond, .circle-small, .circle-big, .triangle {
  position: absolute; }

.diamond, .diamond-large {
  transform: rotate(0deg);
  animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite; }

.diamond {
  width: 400px;
  height: 400px; }

.diamond-large {
  width: 475px;
  height: 475px;
  animation-direction: reverse;
  animation-delay: 3s; }

.circle-small, .circle-big {
  animation-timing-function: linear;
  animation-name: pulse;
  animation-duration: 7s;
  animation-iteration-count: infinite; }

.circle-small {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-delay: 3s; }

.circle-big {
  width: 275px;
  height: 275px;
  border-radius: 50%; }

.triangle {
  width: 0px;
  height: 0px;
  border-left: 200px solid transparent;
  border-top: 200px solid #E9E4F6; }

/*
==========================
ANIMATION
==========================
*/
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
