@import '_variables.scss';

.landing-container {
  // height: calc(100vh - 45px);
  height: 100%;
  background-color: $pale-grey;
  // margin-top: -45px;
}

/*
==========================
TEXT
==========================
*/
.landing-text,
.landing-description {
  left: 0px;
  right: 0px;
  margin: 0 auto;
  padding: 0 auto;
}
.landing-text {
  position: absolute;
  top: 15vh;
  text-align: center;
  color: $dark-grey;
}
.landing-name {
  font-size: 40px;
  padding-bottom: 20px;
}

.landing-description {
  font-size: 18px;
  width: 550px;
}
/*
==========================
BUTTON
==========================
*/
.btn-navi {
  text-align: center;
  color: white;
  background-color: var(--theme-color);
  top: 30px;
  padding: 10px 50px;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  box-shadow: 5px 5px 10px $light-grey;
}
.btn-navi:hover {
  background-color: $hover-blue;
}

/*
==========================
MEDIA QUERIES
==========================
*/
@media all and (max-width: 700px) {
  .landing-text {
    max-width: 90vw;
    left: 0px;
    margin: 0 auto;
  }
  .landing-description {
    width: 100%;
  }
}
