@import '../_variables.scss';

.resume-container {
    background-color: $black-grey;
}

.resume-pdf {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding: 100px;
    width: 1080px;
    height: auto;
}