@import '_variables.scss';

.resume-container {
  background-color: $black-grey;
  min-height: 100vh;
}

.resume-object {
  width: 100vw;
  height: calc(100vh - 50px);
  margin-top: -45px;
}
.resume-iframe {
}
