/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
.resume-container {
  background-color: #2b353d; }

.resume-pdf {
  display: block;
  margin: 0 auto;
  padding: 100px; }
