/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
GRID
==========================
*/
.project-match-container {
  margin: 0 auto;
  color: #757575; }

/*
==========================
IMAGE
==========================
*/
.project-image {
  width: 900px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0px 15px 15px #d1d1d1;
  display: block; }

.project-image-padding {
  margin-top: 80px; }

/*
==========================
MAIN INFO
==========================
*/
.project-page-title {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px; }

.project-page-description {
  width: 560px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto; }

.project-page-tech {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 20px; }

/*
==========================
FEATURE
==========================
*/
.hline {
  width: 1080px;
  border-top: 1px solid #d1d1d1;
  margin-top: -2px; }

.project-page-feature {
  background: linear-gradient(white, #f7f7f7);
  padding: 50px; }

.project-page-feature-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center; }

.project-page-feature-description {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px; }

/*
==========================
BUTTON
==========================
*/
.project-page-btns {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.main-navi-btn {
  display: inline-block;
  width: 150px;
  color: white;
  background-color: #3681d1;
  padding: 6px 15px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 10px #d1d1d1; }

.main-navi-btn:hover {
  background-color: #2673c5; }
