/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
.error-page-container {
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh; }

.error-image {
  width: 1080px;
  margin: 0 auto;
  object-fit: contain;
  display: block;
  top: 20vh;
  position: relative; }

.error-goBack-btn {
  border: none;
  color: white;
  background-color: #f37070;
  padding: 25px;
  font-size: 25px;
  font-weight: 700;
  box-shadow: 1px solid #d1d1d1;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
  top: 25vh;
  margin: 0 auto;
  cursor: pointer;
  width: 200px; }
