
/*
==========================
COLORS
==========================
*/
$grey: #95989a;
$dark-grey: #757575;
$light-grey: #d1d1d1;
$pale-grey: #f7f7f7;
$black-grey: #2b353d;

$theme-blue: rgb(54, 129, 209);
$attention-red: #f37070;
$light-red: #f5cbcb;

$pastel-pink: #F6E4E4;
$pastel-blue: #E4F4F6;
$pastel-purple: #E9E4F6;
$pastel-green: #EAF6E4;
$pastel-yellow: #F6F1E4;

/*
==========================
FONTS
==========================
*/
$font: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;