
/*
==========================
COLORS
==========================
*/
$grey: #95989a;
$dark-grey: #757575;
$light-grey: #d1d1d1;
$paler-grey:rgb(236, 236, 236);
$pale-grey: #f7f7f7;
$black-grey: #2b353d;
$palest-grey: #f8f8f8;
$almost-white: #fdfdfd;
$light-blue: rgb(110, 157, 207);
$lightest-blue: rgb(195, 215, 236);
$theme-blue: $light-blue;
$hover-blue: rgb(103, 145, 190);
$attention-red: #f37070;
$attention-red--hover: #ee6060;
$light-red: #f5cbcb;

$pastel-pink: #F6E4E4;
$pastel-blue: #E4F4F6;
$pastel-purple: #E9E4F6;
$pastel-green: #EAF6E4;
$pastel-yellow: #F6F1E4;

/*
==========================
FONTS
==========================
*/
$font: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;

/*
==========================
STYLING
==========================
*/
$box-shadow: 0px 3px 4px $light-grey;
$box-shadow-light: 0px 3px 4px $paler-grey;

$max-width: 1080px;